@import "src/App";

.Input {
  background-color: $grey;
  margin: {
    top: 15px;
    bottom: 15px;
  }
  padding: {
    top: 5px;
    bottom: 5px;
  }
}

.input {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  width: 95%;
  color: $white;
  text-transform: uppercase;

  &::placeholder {
    text-transform: none;
    color: rgba(245, 245, 220, 0.5);
  }
  &:focus {
    outline: none;
  }
}